
* {
  box-sizing: border-box;
}

body {
  background: url('../../assets/img/graph_paper.gif') repeat;
  font-family: 'Architects Daughter', cursive;
  padding-top: 25px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    padding: 0;
}

iframe {
  /*min-height: 520px;*/
  max-width: 75%;
  min-width: 290px;
  border-color: #ffffff;
  border-style: solid;
  width: 100%;
  overflow: hidden; 
}

input {
  font-family: 'Architects Daughter', cursive;
  font-size: 1em;
}


table {
  width: 360px;
  height: 364px;
}

td{
  width: 100px;
  height: 100px;
  text-align: center;
}

tr {
  padding: 0;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
}

.btn:active  {
  font-size: .85em;
}

.btn:focus {
  outline: none;
}

.fixed {
  padding: 0;
  position: fixed;
  z-index: 10;
}

.hidden {
  display: none;
}

.img {
    display:block;
    margin:auto;
    max-width: 100%;
}

.input-group {
  font-size: 2em;
  margin: auto 0;
  margin-bottom: 20px;
}

.input-group p {
 margin: 0;
 text-align: center;
}

.input-group [type=text]{
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 3px solid #000000;
  text-align: center;
}

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

#start {
  border: none;
  width: 100%;
  background: url('../../assets/img/start-button.svg') center no-repeat;
  background-size: contain;
}

#play-again {
  text-align: center;
  width: 200px;
  margin: auto;
  background: url('../../assets/img/play-again.svg') center no-repeat;
  background-size: contain;
}

.token-selection {
  width: 150px;
  margin: auto;
}

.wrapper {
  width: 320px;
  margin: auto;
  padding: 0;
}

#grid-object {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 550px;
  min-width: 300px;
  height: auto;
  margin-bottom: 30px;
}

#grid-svg {
  max-width: 550px;
  min-width: 300px;
}

#tokens-layer path{
  fill-opacity: 0;
}

#messages {
  height: 110px;
  font-size: 1.75em;
  text-align: center;
  margin: auto 0;
}

#modal {
  width: 320px;
  height: 150px;
  top: 225px;
  margin: auto;
  position: absolute;
  background-color: #ECEDAB;
  border: 4px inset #000000;
  z-index: 100;
  text-align: center;
  font-size: 1.5em;
}

#close-modal {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 2px;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}