
* {
  box-sizing: border-box;
}

body {
  background: url('../../assets/img/graph_paper.gif') repeat;
  font-family: 'Architects Daughter', cursive;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

iframe {
  /*min-height: 520px;*/
  max-width: 75%;
  min-width: 290px;
  border-color: white;
  border-style: solid;
  width: 100%;
  overflow: hidden; 
}

input {
  font-family: 'Architects Daughter', cursive;
  font-size: 1em;
}

object {
  width: 100px;
  height: 100px;
}

table {
  width: 360px;
  height: 364px;
}

td{
  width: 100px;
  height: 100px;
  text-align: center;
}

tr {
  padding: 0;
}

.btn {
  cursor: pointer;
}

.fixed {
  padding: 0;
  position: fixed;
  z-index: 10;
}

.hidden {
  display: none;
}

.img {
    display:block;
    margin:auto;
    max-width: 100%;
}

.input-group {
  width: 100%;
  font-size: 2em;
}

.input-group p {
 margin: 0;
 text-align: center;
}

.input-group [type=text]{
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 3px solid black;  
}


.input-group label:first-of-type {
  margin-left:160px;
}

#start {
  border: none;
  width: 100%;
  height: 40px;  
  background: url('../../assets/img/start_button.svg');
  
}

#start:hover {
  color: white;
}

#start:active {
  font-size: .85em;
}

#start:focus {
  outline: none;
}


.wrapper {
  position: relative;
}

#grid {
  width: 320px; 
  height: 320px; 
  position: absolute;
  top: 2px;
  z-index: 10;
  left: 15px;
}

#grid-svg {
  width: 320px;  
  height: 320px;  
  left: 14px;
  position: relative;
}

#messages {
  height: 110px;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
  padding: 0;  
}

.token {
  height: 65px;
  width: 65px;
}

#modal {
  width: 100%;
  height: 150px;
  top: 75px;
  margin: auto;
  position: absolute;
  background-color: #ECEDAB;
  border: 4px inset black;
  z-index: 100;
  text-align: center;
  font-size: 1.5em;
}

#close-modal {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 2px;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {

  [class*="col-"] {
      float: left;
      padding: 15px;
  }

  .container {
    margin: 0 200px 0 200px;
  }

  #grid {
    width: 360px;  
    height: 360px;  
    left: 76px;
  }

  #grid-svg {
    width: 360px;  
    height: 360px;      
    left: 75px;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}

@media only screen and (min-width: 1921px) {
  * {
    font-size: 48px;
  }

}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .col-1-xl {width: 8.33%;}
  .col-2-xl {width: 16.66%;}
  .col-3-xl {width: 25%;}
  .col-4-xl {width: 33.33%;}
  .col-5-xl {width: 41.66%;}
  .col-6-xl {width: 50%;}
  .col-7-xl {width: 58.33%;}
  .col-8-xl {width: 66.66%;}
  .col-9-xl {width: 75%;}
  .col-10-xl {width: 83.33%;}
  .col-11-xl {width: 91.66%;}
  .col-12-xl {width: 100%;}

}